Repository kokuwaio/docker: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, dockerhub, test

Path conditions:
  build: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  dockerd-pr: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  dockerd-rootless-pr: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  cli-pr: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  cli-git-pr: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  cli-az-pr: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  cli-az-git-pr: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  dockerd: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  dockerd-rootless: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  cli: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  cli-git: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  cli-az: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  cli-az-git: any of: .woodpecker/build.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh
  dockerhub: any of: .woodpecker/dockerhub.yaml, README.md
  test: any of: .woodpecker/build.yaml, .woodpecker/test.yaml, Dockerfile, Dockerfile.dockerignore, entrypoint.sh

chore: add woodpecker version tags
  .github/workflows/build.yaml
  .github/workflows/lint.yaml
  .woodpecker/build.yaml
  .woodpecker/lint.yaml
  .yamllint.yaml
  renovate.json
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:12.11-slim docker digest to 6ac2c08
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:12.11-slim docker digest to 2424c18
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore: aligned build files with other repositories
  .woodpecker/lint.yaml
  Dockerfile
  renovate.json
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update kokuwaio/shellcheck docker tag from v0.10.0 to v0.11.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:12.11-slim docker digest to b1a7414
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian docker tag from 12.11-slim to 13.0-slim
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

fix(cli): add `/woodpecker` to enable usage where this dir isn't mounted
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update kokuwaio/hadolint docker tag from v2.12.0 to v2.13.1
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian docker tag from 13.0-slim to 13.1-slim
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update kokuwaio/hadolint docker tag from v2.13.1 to v2.14.0
  .woodpecker/lint.yaml
Due: none

chore(version): use docker 28.4.0
  .woodpecker/build.yaml
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:13.1-slim docker digest to fb6a168
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 1caf1c7
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 66b37a5
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:13.1-slim docker digest to 2fc7219
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:13.1-slim docker digest to a347fd7
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian docker tag from 13.1-slim to 13.2-slim
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update kokuwaio/renovate-config-validator docker tag from 41 to 42
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 18764e9
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update kokuwaio/markdownlint docker tag from 0.45.0 to 0.46.0
  .woodpecker/lint.yaml
Due: none

fix(lint): fix md issues after markdownlint update
  README.md
Due: dockerhub

chore(deps): update docker.io/library/debian:13.2-slim docker digest to e711a7b
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update kokuwaio/markdownlint docker tag from 0.46.0 to 0.47.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 91e29de
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:13.2-slim docker digest to 4bcb9db
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update kokuwaio/yamllint docker tag from v1.37.1 to v1.38.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian docker tag from 13.2-slim to 13.3-slim
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:13.3-slim docker digest to bfc1a09
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:13.3-slim docker digest to f6e2cfa
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update kokuwaio/renovate-config-validator docker tag from 42 to 43
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian:13.3-slim docker digest to 1d3c811
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update kokuwaio/markdownlint docker tag from 0.47.0 to 0.48.0
  .woodpecker/lint.yaml
Due: none

chore(deps): update docker.io/library/debian docker tag from 13.3-slim to 13.4-slim
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:13.4-slim docker digest to 4ffb3a1
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:13.4-slim docker digest to e02d667
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:13.4-slim docker digest to cedb1ef
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update docker.io/library/debian:13.4-slim docker digest to 109e2c6
  Dockerfile
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test

chore(deps): update deps
  .justfile
  .woodpecker/lint.yaml
  .woodpecker/test.yaml
  Dockerfile
  renovate.json
Due: build, dockerd-pr, dockerd-rootless-pr, cli-pr, cli-git-pr, cli-az-pr, cli-az-git-pr, dockerd, dockerd-rootless, cli, cli-git, cli-az, cli-az-git, test
